
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%
}
html{
    height: 100%;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: poiner;
    background: #ffffff47;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    
}

.textview{
    width: 205px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: none;
    color: #525252;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    
}
.bg{
    background: linear-gradient(to right, #4ac7ff, #363f73);
    min-height: 100%;
}
#button1{
    transition:all .4s ease-in-out 0s;
}
#button1:target{
    
    background-color: white;
}